  <div class = "container">
<div id = "back">
  <img class="responsive" id="iphone" src="images/iphone.png" alt="iPhone">

  <div id = "instructions">
  Find your favorite Music SubRedit and build up your next spotify playlist </div>
  <button id = "start"> <a href="/playlists">Start</a></button></div>
</div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
          {{#each subreddits}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="http://www.reddit.com/{{this.name}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery.lettering.js"></script>
<script src="/js/index.js"></script>