<div class="container">
  <div class="row">
    <button class="btn btn-secondary float-left" id="refresh-button" data="{{this.reddit}}">Refresh List</button>
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
            <ul id="song-list" class="list-group">
              {{#each songs}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="{{this.url}}">{{this.title}}</a>
                <button class="btn btn-primary float-right create-playlist">Explore</button>
              </li>
              {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery.lettering.js"></script>
<script src="/js/index.js"></script>