.list-group-item {
  line-height: 2.5;
}

body {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  background-color       : lightblue;
  font-size  : 1em;
  width  : 100%;
  font-family: 'Open Sans', sans-serif;
  color: #545756;
  
}

#iphone,
#back {
text-align: center;    
display: block;
margin-top: 15%;  margin-left: auto;
margin-right: auto;
position: relative;
height: 450px;
width: 250px; 
z-index: 2;
-webkit-animation: mymove 5s; 

}

#start{
   border-color:  #1ED760;
background: black;
color:  #1ED760;  
z-index: 3;
  margin-top: -200px;
  position: fixed;
  text-align: center;
  margin-right: 20px;
  margin-left: 0px;

}


@keyframes mymove {
from {top: -4000px;}
to {top: 0px;}
} 

.table{
background: black;
color: white;
width: 400px; 
 
margin: auto;
z-index: 4;
display: none; 
background: rgba(0, 0, 0, 0.5);  
border: 10px solid #1ED760; 
}

#subredit-table {
  margin-top: -520px;
  border: 10px solid red;
}

th{
    text-align: center;
    width: 400px;

}

a {
    color:  red;
}



button {
    background-color: red;
    color: white;
}


footer {
    bottom: 0px; 
    position: fixed; 
    margin-right: auto;
    margin-left: auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: grey;
    position: fixed;
}




#instructions{

color: #fff; 
width: 150px;
text-align: center;
margin-top: -300px;
margin-left: 50px;
z-index: 3;
position: absolute;

}

.card{
  height: 200px;
}