.list-group-item {
  line-height: 2.5;
  border-color: gray;
  border-width: 1px;
}

body {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
  background-color       : lightblue;
  font-size  : 1em;
  width  : 100%;
  font-family: 'Open Sans', sans-serif;
  color: #545756;
}

#title1 {
  color: #1ED760;
  font-size: 64px;
  font-weight: bold;
}

#spot-red {
  height: 200px; 
  margin-left:315px; 
  margin-top: -160px;
  z-index: 7; 
}

#iphone,
#back {
text-align: center;    
display: block;
margin-top: 3%;  margin-left: auto;
margin-right: auto;
position: relative;
height: 450px;
width: 250px; 
z-index: 2;
-webkit-animation: mymove 1.5s; 

}

#start{
   border-color:  #1ED760;
background: black;
color:  #1ED760;  
z-index: 3;
  margin-top: -200px;
  position: absolute;
  text-align: center;
  margin-right: 20px;
  margin-left: 0px;

}

/* #instructions {
  animation: type 10s steps(73);
  overflow: hidden;
  animation-delay: 5s; 
  
} */

@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width:73ch; 
  }
}


@keyframes mymove {
from {top: -4000px;}
to {top: 0px;}
} 

.table{
background: black;
color: white;
width: 400px; 
margin: auto;
z-index: 4;
display: none; 
background: rgba(0, 0, 0, 0.5);  
border: 10px solid #1ED760; 
}



footer {
    bottom: 0px; 
    position: fixed; 
    margin-right: auto;
    margin-left: auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: grey;
    position: fixed;
}


#instructions{

color: #fff; 
width: 150px;
text-align: center;
margin-top: -300px;
margin-left: 50px;
z-index: 3;
position: absolute;

}

.card{
  height: 200px;
}

.title{
  font-size: 100px;
  font-weight:bold;
  line-height: .55em;
  margin-left: 35px;
  margin-top: 30px;
    
}

span[class^="char"] {
  display: inline-block; 
  position: relative;
 

}

.char1 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
 
}

.char2 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}

.char3 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}

.char4 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}
.char5 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}
.char6 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}
.char7 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}
.char8 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
}
.char9 {
  color: #1ed761;
  font-family: Oswald, sans-serif;
  z-index: -4;
}

  

.char11 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px; 
  z-index: 6; 
}
.char12 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px;
  z-index: 6; 
  
}
.char13 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px;
  z-index: 6; 
}
.char14 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px;
}
.char15 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px;
}
.char16 {
  color: #FF5700;
  font-family: 'Open Sans', sans-serif; 
  left:60px;
}


#home {
  position: absolute;
  margin-top: -450px;
  font-size: 15px;
}


#playlist-table {
  color: white; 
  background: url("spotify.jpg") no-repeat center center fixed;

}

a {
  color: black;
}